params {

    trim         = false
    onlyqc       = false   

    samplesheet    = ''
    reads          = ''
    indexforstar   = ''
    gtf_file       = ''

    outdir_fastqc  = 'results/fastqc'
    outdir_trim    = 'results/trim'
    outdir_star    = 'results/star'
    outdir_quant   = 'results/quant'
    outdir_multiqc = 'results/fastqc/multiqc'
}


process {
    executor    = 'local'
    stageInMode = 'copy'

    withLabel: fastqc {
                maxForks = 1
                cpus   = 1 
                memory = 8.GB
    }

    withLabel: trim {
                cpus   = 1
                memory = 8.GB
    }

    withLabel: star_align {
                maxForks = 1
                cpus   = 16
                memory = 64.GB
    }

    withLabel: quant {
                cpus   = 16
                memory = 16.GB
    }
}


profiles {

  docker {
    docker.enabled = true
  }

  test {
    docker.enabled = true

    // ---- inputs (match your repo layout) ----
    params.indexforstar = "${projectDir}/testdata/tiny/tiny_index"
    params.gtf_file     = "${projectDir}/testdata/tiny/tiny.final.gtf"
    params.samplesheet  = "${projectDir}/testdata/samplesheet.csv"

    // Only keep this if your pipeline explicitly uses params.reads
    params.reads        = "${projectDir}/testdata/reads/*.fastq.gz"

    // ---- outputs (keep them inside the repo workspace) ----
    params.outdir_fastqc  = "${projectDir}/results/test/fastqc"
    params.outdir_trim    = "${projectDir}/results/test/trim"
    params.outdir_star    = "${projectDir}/results/test/star"
    params.outdir_quant   = "${projectDir}/results/test/quant"
    params.outdir_multiqc = "${projectDir}/results/test/multiqc"

    process {
      withLabel: fastqc {
        cpus   = 1
        memory = 1.GB
      }

      withLabel: trim {
        cpus   = 1
        memory = 1.GB
      }

      withLabel: star_align {
        cpus   = 1
        memory = 2.GB
      }

      withLabel: quant {
        cpus   = 1
        memory = 1.GB
      }
    }
  }

}