params {
    samplesheet    = ''
    reads          = ''
    outdir_fastqc  = ''
    outdir_trim    = '' 
    outdir_star    = ''  
    outdir_quant   = ''
    outdir_multiqc = ''
    indexforstar   = ''
    gtf_file       = ''
}

process {
    executor    = 'local'
    stageInMode = 'copy'
}

profiles {

    docker {
        docker.enabled = true
    }

    test {
        docker.enabled = true

        // override params.* here
        params.indexforstar   = 'star_index_small'
        params.gtf_file       = 'star_index_small/mouse_small.gtf'
        params.samplesheet    = 'data/samplesheet.csv'
        
        params.reads          = 'data/fastq/*.fastq.gz'
        params.outdir_fastqc  = 'results_test/fastqc'
        params.outdir_trim    = 'results_test/trim'
        params.outdir_star    = 'results_test/star'
        params.outdir_quant   = 'results_test/quant'
        params.outdir_multiqc = 'results_test/fastqc/multiqc'

        process {
            withLabel: fastqc {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: trim {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: star_align {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: quant {
                cpus   = 1
                memory = 1.GB
            }
        }
    }

    mounted_expstorage {
        docker.enabled = true

        params.indexforstar   = '/home/luca/expatstorage/reference_annotations/ngs_indices/STAR/GRCm39/star_index'
        params.gtf_file       = '/home/luca/expatstorage/reference_annotations/ngs_indices/STAR/GRCm39/mouse_small.gtf' 

        params.samplesheet    = '/home/luca/expatstorage/neutropenic_omics/NGS_Liver/NGS_224_923/samplesheet.csv'
        params.reads          = '/home/luca/expatstorage/neutropenic_omics/NGS_Liver/NGS_224_923/*.fastq.gz'
        params.outdir_fastqc  = 'results/fastqc'
        params.outdir_trim    = 'results/trim' 
        params.outdir_star    = 'results/star'  
        params.outdir_quant   = 'results/quant'
        params.outdir_multiqc = 'results/fastqc/multiqc'
    }
}
