params {

    trim         = false
    onlyqc       = false   

    samplesheet    = ''
    reads          = ''
    indexforstar   = ''
    gtf_file       = ''

    outdir_fastqc  = 'results_test/fastqc'
    outdir_trim    = 'results_test/trim'
    outdir_star    = 'results_test/star'
    outdir_quant   = 'results_test/quant'
    outdir_multiqc = 'results_test/fastqc/multiqc'
}


process {
    executor    = 'local'
    stageInMode = 'copy'

     process {
            withLabel: fastqc {
                cpus   = 1 
                memory = 8.GB
            }

            withLabel: trim {
                cpus   = 1
                memory = 8.GB
            }

            withLabel: star_align {
                cpus   = 16
                memory = 40.GB
            }

            withLabel: quant {
                cpus   = 16
                memory = 16.GB
            }
        }
    }

profiles {

    docker {
        docker.enabled = true
    }

    test {
        docker.enabled = true

        // override params.* here
        params.indexforstar   = 'star_index_small'
        params.gtf_file       = 'star_index_small/mouse_small.gtf'
        params.samplesheet    = 'data/samplesheet.csv'
        params.reads          = 'data/fastq/*.fastq.gz'

        params.outdir_fastqc  = 'results_test/fastqc'
        params.outdir_trim    = 'results_test/trim'
        params.outdir_star    = 'results_test/star'
        params.outdir_quant   = 'results_test/quant'
        params.outdir_multiqc = 'results_test/fastqc/multiqc'

        process {
            withLabel: fastqc {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: trim {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: star_align {
                cpus   = 1
                memory = 1.GB
            }

            withLabel: quant {
                cpus   = 1
                memory = 1.GB
            }
        }
    }

}
